{% extends 'base.html.twig' %}

{% block title %}Hello world!{% endblock %}

{% block body %}
    <style>
        .formName h1 { margin: 1em; max-width: 800px; font: 2rem sans-serif; font-weight: 600; color: #B0413E; alignment: left;  }
        input { border-radius: 5px; width: 18.5vw; margin-left: 10px; padding: 5px;}
        form { margin: 2em auto; font: 20px sans-serif; padding: 10px; }
        button {  margin-top: 2em; width: 24vw; border: 2px solid darkblue; border-radius: 5px; cursor: pointer; padding: 10px; background-color: #5eb5e0}
    </style>

    <div class="formName">

        <h1>Hello {{ name }}!</h1>
        {{ form(form) }}
    </div>
{% endblock %}
